/* Untuk Tablet */ 
@media all and (max-width: 1000px) { 
  /*Banner Content*/ 
   
  /*Teams Content*/ 
 
  /*message Content*/ 
  .message-form{ 
    max-width: 880px; 
  } 
} 
 
/* Untuk Smartphone */ 
@media all and (max-width: 670px) { 
  /*Header Content*/ 
   
  /*Banner Content*/ 
 
  /*Massage Content*/ 
  .message-form { 
    max-width: 550px; 
  } 
 
  .img { 
    display: none; 
  } 
 
  input[type=text], select, textarea { 
    width: 50%; 
  } 
  /*Teams Content*/ 
   
  /*Footer Content*/ 
}